.beacon {
  background-color: blue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 1;
  position: absolute;
}
.beacon::before {
  background-color: blue;
  content: "";
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  animation: burst-animation 2s infinite;
  animation-fill-mode: forwards;
  z-index: 0;
}
@keyframes burst-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(4);
  }
}
